node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
example.spec.ts
test/example.spec.ts
debug.ts
debug.js
test-results
playwright-report
playwright-sdk_bak
tests-examples/debug_example.spec.ts
/tests-examples/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/aws.xml
/.idea/compiler.xml
/.idea/highlightedFiles.xml
/.idea/markdown.xml
/.idea/modules.xml
/.idea/syngrisi-playwright-boilerplate.iml
/.idea/vcs.xml
/baselines/
/application.log
